{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Henrique da silva dos santos</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href="{% static "css/fontawesome.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
    body{
        font-family: 'Open Sans', sans-serif;
    }
    .text-purple{
        color: #77418c;
    }
    .bg-purple{
        background-color: #77418c;
    }
    .item{
        width: 48px;
        height: 48px;
        text-align: center;
    }
</style>
</head>
<body>
    <div class="container-fluid bg-light p-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-8 pt-4">
                    <h1>HENRIQUE</h1>
                    <h1 class="font-weight-bold" >SILVA</h1>
                </div>
                <div class="col text-right" >
                    <div>Rua PROF ENIRA BRAGA DE MORÃES, 54 CENTRO <i class="fa fa-home text-purple" aria-hidden="true"></i></div>
                    <div>(44)98824-0259 <i class="fa fa-phone text-purple"></i></div>
                    <div>henriquesilvatk@hotmail.com <i class="fas fa-envelope text-purple"></i></div>
                    <div><a href="#">Twitter</a> <i class="fas fa-globe text-purple"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="text-white rounded-circle bg-purple item"><i class="fa fa-bars py-3"></i></div>
            </div>
            <div class="col">
                <h4 class="font-weight-bold py-2" >OBJETIVO</h4>
                <p>Obter o maximo de conhecimento para poder aplicar no mercado de trabalho e projetos pessoais.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="text-purple rounded-circle bg-purple item" style="-webkit-text-stroke: 1px white;"> <i class="fa fa-graduation-cap py-3"></i></div>
            </div>
            <div class="col">
                <h4 class="font-weight-bold py-2">EDUCAÇÃO</h4>
                <h6 class="font-weight-bold">TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS | IFPR</h6>
                <h6>DE 2017 ATÉ 2019</h6>
                <p>Cursando o Terceiro ano do curso superior de Técnico em Análise e
                    Desenvolvimento de Sistema - IFPR Campus Paranavaí.</p>
                <h6 class="font-weight-bold">INGLÊS BÁSICO | CCAA</h6>
                <h6>DE 2014 ATÉ 2015</h6>
                <p>Concluído o básico da língua inglesa</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="text-purple rounded-circle bg-purple item" style="-webkit-text-stroke: 1px white;"> <i class="fa fa-briefcase py-3"></i></div>
            </div>
            <div class="col">
                <h4 class="font-weight-bold py-2" >EXPERIÊNCIA</h4>
                <h6 class="font-weight-bold">Manutenção de computadores | Autonomo</h6>
                <h6>DE 2011 ATÉ 2017 </h6>
                <p>Manutençãp de computadores;
                   Notebooks;
                   Formatação;
                   Instalação de softwares;
                   Configuração de impressora em rede.</p>
                <h6 class="font-weight-bold">Assistende de programador | ECI SOLUÇÕES</h6>
                <h6>DE 2017 ATÉ 2018 </h6>
                <p>Desenvolvimento de sistemas WEB, Paginas WEB</p>
                <p>Experiência com linguagem de programação PHP</p>
                <p>Configuração de sistemas</p>
                <p>Banco de dados, PHPMyAdmin</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="text-purple rounded-circle bg-purple item" style="-webkit-text-stroke: 1px white;"> <i class="fa fa-wrench py-3"></i></div>
            </div>
            <div class="col">
                <h4 class="font-weight-bold py-2" >HABILIDADES</h4>
                <div class="row">
                    <div class="col">
                        <ul>
                        <li>Experiência com linguagens de programação (Java, PHP e C#).</li>

                        <li>Banco de Dados(MySQL, PostgreSQL).</li>

                        <li>Tecnologias Web(HTML, CSS, BootStrap).</li>

                        <li>Software para desenvolvimento de software (Postgre, SQL Power Architect, Netbeans, Eclipse).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <div class="text-white rounded-circle bg-purple item"> <i class="fa fa-ellipsis-h py-3"></i></div>
            </div>
            <div class="col">
                <h4 class="font-weight-bold py-2" >ATIVIDADES</h4>
                <p>Montagem de computadores</p>
                <p>Templates de sites</p>
                <p>Wordpress</p
            </div>
        </div>
    </div>
</body>
</html>
